/***********************************************************/
/*** GLOBAL CONFIGURATION ***/


*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    /*  1rem = 10px */
    font-size: 62.5%;  
}

body {
    height: 100vh;
    padding: 3.5rem;
    font-size: 1.6rem;
    font-family:"Raleway", sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    color: #2a2a2a;
}

a {
    text-decoration: none;
}

/***********************************************************/
/*** MAIN NAVBAR ***

/* Navigation */
nav#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


ul#main-nav--list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

 /* navigation lis */
li.main-nav--links {
    padding: 2rem 3rem;
    margin-right: .5rem;
}

li.main-nav--links {
    border-top: 2px solid transparent;
    transition: border-top 1s;
}

li.main-nav--links:hover,
li.main-nav--links:active {
    border-top: 2px solid #0065FC;
}

/* navigation links */
li.main-nav--links a {
    transition: color 1s;
}

li.main-nav--links a:link,
li.main-nav--links a:visited {
    color: #2a2a2a;
}

li.main-nav--links a:hover,
li.main-nav--links a:active {
    color: #0065FC;
}

li#main-nav--signup a {
    font-weight: 700;
    color: #0065FC;
}

/***********************************************************/
/*** HOME PAGE TITLE ***/

h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

p#title--subtitle {
    font-size: 1.4rem;
    margin-top: .8rem;
}

/***********************************************************/
/*** SEARCH BAR ***/

#search-bar--container {
    width: fit-content;
    margin-top: 2rem;
    border: 1px solid #f2f2f2;
    border-radius: 2.5rem;
}

.search-bar--item {
    padding: 1.5rem;
}

#search-bar {
    font-family: inherit;
    font-weight: 700;
    border: none;
}

#search-bar--btn {
    background-color: #0065FC;
    color: #fff;
    font-weight: 700;  
    border-radius: 0 2.5rem 2.5rem 0;
}

#search-bar--icon {
    background-color: #f2f2f2;
    border-radius: 2.5rem 0 0 2.5rem;
}




