/***********************************************************/
/*** GLOBAL CONFIGURATION ***/

*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    /*  1rem = 10px */
    font-size: 62.5%; 
    scroll-behavior: smooth; 
}

body {
    height: 100vh;
    font-size: 1.5rem;
    font-family:"Raleway", sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    color: #1B1212;
}

main {
    padding: 0 3.5rem 3.5rem 3.5rem;
}

header {
    padding: 3.5rem 3.5rem 0 3.5rem;
}

a {
    text-decoration: none;
    transition: all 1s;
}

a:link,
a:visited {
    color: #1B1212;
}

a:hover,
a:active {
    color: #0065FC;
}

ul {
    list-style: none;
}

/***********************************************************/
/*** MAIN NAVBAR ***

/* Navigation */
nav#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


ul#main-nav--list {
    display: flex;
    justify-content: space-around;    
}

 /* navigation lis */
li.main-nav--links {
    padding: 2rem 3rem;
    margin-right: .5rem;
}

li.main-nav--links {
    border-top: 2px solid transparent;
    transition: border-top 1s;
}

li.main-nav--links:hover,
li.main-nav--links:active {
    border-top: 2px solid #0065FC;
}

li#main-nav--signup a {
    font-weight: 700;
    color: #0065FC;
}

/***********************************************************/
/*** HOME PAGE TITLE ***/

h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

p#title--subtitle {
    font-size: 1.4rem;
    margin-top: .8rem;
}

/***********************************************************/
/*** SEARCH BAR ***/

#search-bar--container {
    max-width: fit-content;
    margin-top: 2rem;
    border: 1px solid #f2f2f2;
    border-radius: 2.5rem;
}

.search-bar--item {
    padding: 1.5rem;
}

#search-bar {
    font-family: inherit;
    font-weight: 700;
    border: none;
    transition: border-bottom 1s;
}

::placeholder {
    color: #2a2a2a;
}

#search-bar:focus {
    outline: none;
    border-bottom: 1px solid #0065FC;
}

#search-bar--btn {
    background-color: #0065FC;
    color: #fff;
    font-weight: 700;  
    border-radius: 0 2.5rem 2.5rem 0;

    transition: all .8s;
}

#search-bar--btn:hover {
    background-color:#FFCB00;
    color: #9053C1;
}

#search-bar--icon {
    background-color: #f2f2f2;
    border-radius: 2.5rem 0 0 2.5rem;
}


/***********************************************************/
/*** FILTERS ***/

#filters--container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 3rem;
    font-weight: 700;
}

ul#filters--list {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    list-style: none;

}

li.filters {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    border: 3px solid #f2f2f2;
    border-left: none;
    border-radius: 5rem;

    transition: all 1s;
}


li.filters i {
    color: #0065FC;
    background-color: #DEEBFF;
    font-size: 1.8rem;
    border-radius: 50%;
    padding: 1.6rem;

    transition: all 1s;
}

i.fa-child {
    width: 5rem;
}

span.filters--choices {
    padding: 1.6rem;
}

/**** Filters on Hover *****/

li.filters:hover i {
    transform: scale(1.2);
    background-color: #9053C1;
    color:#FFCB00;
}

li.filters:hover {
    background-color: #FFCB00;
    color: #9053C1;

}


/***********************************************************/
/*** ACCOMODATIONS SECTIONS ***/

div#accomodations--numbers {
    margin: 3.5rem 0;
    display: flex;
    align-items: center;
}

div#accomodations--numbers i {
    background-color: #fff;
    color: #0065FC;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #f2f2f2;
    padding: 2.5px;
    height: 2.5rem;
    width: 2.5rem;
}

div#accomodations--numbers p {
    padding-left: 1rem;
}

h2#accomodations-cards--accomodations-title,
a#show-more {
    flex-basis: 100%;
    padding-left: 1rem;
}

a#show-more:link,
a#show-more:visited {
    font-weight: 700;
}

div.accomodations-cards--card:hover a {
    color: #0065FC;
}

/* CARDS */
/* common rules */

div#accomodations-cards--container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

div#accomodations-cards--container section {
    background-color: #f2f2f2;
    border-radius: 2.5rem;
    padding: 3.5rem;

    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

/*CARDS*/
div.accomodations-cards--card {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 8px;

    flex: 1 30%;
    padding: 5px;
    background-color: #fff;
    border-radius: 2.5rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    cursor: pointer;
    transition: transform 1s;
}

div.accomodations-cards--card:hover {
    transform: scale(1.1);
}

/*HOTEL INFO*/
div.accomodations-cards--info-container h3 {
    font-size: inherit;
}

div.accomodations-cards--info-container {
    display: flex;
    flex-flow: column wrap;
    gap: 4px;

    padding-left: 1rem;
    padding-bottom: .5rem;
    font-size: 1.3rem;
}

/*HOTEL IMGS*/
div#accomodations-cards--container figure {
    width: 100%;
}

div#accomodations-cards--container figure img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 2rem;
}

div#accomodations-cards--container figure img:not(img.accomodations-cards--popular-images) {
    border-top-right-radius: 2rem;
    height: 10rem;
}

/*STARS RATINGS*/
div.accomodations-cards--ratings i:not(.grey-star) {
    color:#0065FC;
}

div.accomodations-cards--ratings i.grey-star {
    color: #d5d5d5;
}



/* ACCOMODATIONS SECTIONS RULES */
section#accomodations-cards--list {
    flex-basis: 67%;
    justify-content: space-around;
}


/*MOST POPULAR SECTION RULES*/
section#accomodations-cards--popular {
    flex-direction: column;
    flex-basis: 30%;
}

section#accomodations-cards--popular
div.accomodations-cards--popular-card {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

div.accomodations-cards--popular-card figure {
    flex: 1 35%;
}

div.accomodations-cards--popular-card img.accomodations-cards--popular-images {
    border-bottom-left-radius: 2rem;
    height: 12rem;
}

section#accomodations-cards--popular
div.accomodations-cards--info-container {
    flex: 1 60%;
    gap: 2rem;
}

#accomodations-cards--popular--title-container {
    display: flex;
    justify-content: space-between;
}

#accomodations-cards--popular--title-container i {
    font-size: 2.5rem;
}


/***********************************************************/
/*** ACTIVITIES SECTION ***/

section#activities-section {
    margin-top: 5rem;
}

h2#activities-section--activities-title {
    padding-left: 1rem;
}

div#activities-section--activities-container {
    margin-top: 3rem;
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
}

div#activities-section--activities-container h3 {
    font-size: 1.3rem;
    padding: 1.2rem 1.2rem 1.2rem 2rem;
}

div.activities-section--activities-double-images,
div.activities-section--activities-single-images {
    flex: 1 22%;
}


div.activities-section--activities-images-container {
    border-radius: 2.5rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    flex-grow: 1;
    cursor: pointer;

    transition: transform 1s;
}

div.activities-section--activities-images-container:hover {
    transform: scale(1.1);
}

div.activities-section--activities-images-container:hover a {
    color: #0065FC;
}

div#activities-section--activities-container img {
    width: 100%;
    object-fit: cover;
    object-position: center;

    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}

div.activities-section--activities-double-images,
div.activities-section--activities-single-images {
    display: flex;
    flex-flow: column wrap;
    gap: 4rem;
}

/* IMGS SIZES */
#pomegues-fort {
    height: 17rem;
}

#frioul-island {
    height: 11rem;
}

#longchamp,
#notre-dame {
    height: 14rem;
}

#old-port,
#calanques {
    height: 90%;
}


/***********************************************************/
/*** FOOTER ***/
#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    margin-top: 5rem;
    background-color: #f2f2f2;
}

.footer--sections {
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;

    flex: 1;
    padding: 3.5rem;
}

.footer--links {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}








    



